.Alert {
  width: 100%;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  position: relative;
}

.alertTitle {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.alertBody {
  text-transform: capitalize;
}

.closeBtn {
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  transform: translateY(-50%);
}

.danger {
  color: white;
  background-color: var(--accent-color);
}

.info {
  color: white;
  background-color: var(--primary-color);
}

.warning {
  color: var(--black-color);
  background-color: var(--warning-color);
}
