.kanban-container {
  display: flex;
  flex-flow: row nowrap;
}

.droppable {
  background-color: rgba(0, 0, 0, 0.125);
}

.trash-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #ff5c4d;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-image: url('./../../assets/img/alternate-trash.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
}

.trash-container.droppable {
  filter: invert();
}
