.navigation-container {
  min-height: 3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: white;
  padding: 0 1rem;
}

.logo-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.logo-container svg {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.logo-container h1 {
  display: inline-block;
}

.nav-list {
  list-style: none;
}

.nav-item {
  display: inline-block;
  height: 100%;
}

.nav-item a {
  color: white;
  font-size: 1.5rem;
  height: 100%;
  text-decoration: none;
  display: block;
  line-height: 2.5rem;
  text-underline-offset: 0.5rem;
  transition: all 150ms ease-in-out;
}

.nav-item a.active {
  text-decoration: underline;
}

.nav-item:not(:last-of-type) a {
  margin-right: 1rem;
}

.nav-item a:hover {
  text-decoration: underline;
}
