.navigation-container {
  min-height: 3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: white;
  padding: 0 1rem;
  position: relative;
}

.logo-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.logo-container svg {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.logo-container h1 {
  display: inline-block;
}

.nav-list {
  list-style: none;
  position: relative;
}

.nav-item {
  display: inline-block;
  height: 100%;
}

.nav-item a,
.nav-item button {
  font-family: 'Urbanist', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  height: 100%;
  text-decoration: none;
  display: block;
  line-height: 2.5rem;
  text-underline-offset: 0.5rem;
  transition: all 150ms ease-in-out;
  margin: 0;
  padding: 0;
}

.nav-item > a,
.nav-item > button {
  color: white;
  font-size: 1.5rem;
}

.nav-item a.active,
.nav-item button.active {
  text-decoration: underline;
}

.nav-item:not(:last-of-type) {
  margin-right: 1rem;
}

.nav-item a:hover,
.nav-item button:hover {
  text-decoration: underline;
  background-color: transparent;
}

.nav-item a:hover + .nav-sublist,
.nav-item a:focus + .nav-sublist,
.nav-item a:focus-within + .nav-sublist {
  display: inline-block;
  opacity: 1;
  top: calc(100% + 0.125rem);
  visibility: initial;
  pointer-events: none;
}

.nav-sublist {
  position: absolute;
  list-style: none;
  top: 0;
  opacity: 0;
  transition: all 150ms ease-in-out;
  overflow: hidden;
  visibility: hidden;
  z-index: 1;
}

.nav-sublist:hover,
.nav-sublist:focus,
.nav-sublist:focus-within {
  opacity: 1;
  top: calc(100% + 0.1rem);
  visibility: initial;
}

.nav-subitem {
  color: white;
  background-color: var(--primary-color);
}

.nav-subitem > a,
.nav-subitem > button {
  font-size: 1rem;
  color: white;
  background-color: transparent;
  padding: 0.5rem;
  width: max-content;
}
