.loadingScreen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingIcon {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}
