*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #035068;
  --primary-color-hover: #024053;
  --accent-color: #fa3463;
  --secondary-color: #f98468;
  --warning-color: #fdc974;
}

body {
  margin: 0;
  background-color: var(--warning-color);
  font-family: "Urbanist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
textarea,
select {
  border: 1px solid #909090;
  background-color: rgba(255, 255, 255, 0.5);
}

label {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

input,
button,
textarea,
select {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-weight: bold;
}

button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: all 150ms ease-in-out;
}

button:hover {
  background-color: var(--primary-color-hover);
}
